/* add styles here */
.page__body {
    margin: 0;
}

.stars {
    width: 96;
    height: 116;
    display: flex;
    gap: 4px;
    align-items: center;
}

.stars__star {
    display: block;
    width: 16px;
    height: 16px;
}

.stars--0 .stars__star {
    background-image: url(images/star.svg);
    background-size: cover;
}

.stars--1 .stars__star {
    background-image: url(images/star.svg);
    background-size: cover;
}

.stars--1 .stars__star:nth-child(1) {
    background-image: url(images/star-active.svg);
}

